.header {
    text-align: center;
    background: #197288;
    color: white;
    font-size: 30px;
    height: 250px;
    max-width: 100%;

  }

  .logo {
    position:relative;
    left: 20px;
    top: 20px;
  }

  .menu{
    overflow: hidden;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #158edf;
    text-align: center;
  }
  
  li {
    display: inline-block;
    
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #127dc4;
    transform: scale(1.05);
    transition: 0.5s;
  }
  .fa-brands{
    font-size: 25px;
    color: white;
  }
  .fa-brands:hover{
    transform: scale(1.15);
    transition: 0.5s;
  }
  
  .topcontainer {
    background-color: rgb(231, 229, 229);
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    
  }
  .topcontainer h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .topcontainer h2{
    font-size: 40px;
    color: #125de7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }
  .container{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.card{
    width: 270px;
    margin: 25px;
    border-radius: 15px;
    padding: 60px;
}
.card a{
  background-color: #fcad46;
  color: white;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  font-size: 20px;
  padding: 15px 20px;
  display:block;
  text-align: center;
  margin: 20px 50px;
  border-radius: 10px;
  
}
.card a:hover{
  transform: scale(1.10);
  transition: 0.5s;
}

.card-image{
    background-color: transparent;
    height: 350px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 15px 15px;
}

.Reparatie-1{
    background-image: url(reparatiee.jpg);
}

.verstoppingen-2{
    background-image: url(flexshaft.jpg);
}

.onderzoek-3{
    background-image: url(camera.jpg);
}

.sec2container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px
}
.sec2container a {
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 26px;
    padding: 6px 0px;
    display: block;
    text-align: left;
    flex: 1;
    margin: 0px 0px;
}




.breuk{
      background-image: url(breuk.jpg);
  }
  
.herstel{
      background-image: url(reparatie.jpg);
  }

  .solid-divider {
    border: 1px solid #40a2e4;
}


  .sec2container.foto img{
    background-color: transparent;
   width: 100%;;
   border-radius: 10px;
  }
.sec2container .foto {
    flex: auto;
    width: 90px;
    margin-left: 350px;
    height: 339px;
    margin-top: -244px; 
  }
  .cartoon2{
    background-image: url(cartoon2.png);

  }

  .solid-divider {
    border: 1px solid #40a2e4;
}
.ontstaanbreuk{
  padding-left: 60px;
  padding-top: 20px;
}
.ontstaanbreuk h1{
  font-size: 40px;
  color: #2a79e0;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ontstaanbreuk p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}


.footer-container {
  background-color: #197288;
  padding-bottom: 4rem;
}

.footer {
  display: flex;
  justify-content: space-between;  
  gap: 20px;  
  width: 100%; 
}


.footer-heading {
  display: flex;
  flex-direction: column;
  color: azure;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-heading a {
  color: rgb(248, 252, 252);
  text-decoration: none;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.footer-heading.footer3 {
  display: flex;
  flex-direction: row;    
  gap: 20px;                
  width: 100%;              
  flex-wrap: wrap;          
  padding: 20px 0;         
}


.trustoo-widget {
  max-width: 100%; 
  width: 300px;     
  height: auto;   
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;  
}




@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-reviews {
    flex-direction: column;
    align-items: center;
  }
}


  

  .reparatie{
    background: whitesmoke;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
  }
  
  .reparatietext{
    text-align: center;
  }
  .reparatietext h1{
    font-size: 40px;
    color: #fcad46;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

  }

  .reparatietext p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
  }

  .reparatietext a{
    background-color: #158edf;
    color: white;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    display:block;
    text-align: center;
    margin: 20px 50px;
    
  }

  

  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
 
  input[type=submit] {
    background-color: #158edf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #0f78be;
  }
  
 
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .map{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
  }

 

  .gallery{
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
   
    border-radius: 10px;
    text-align: center;
    background-color: rgb(231, 229, 229);
    
  }

  .discription{
    background-color: rgb(231, 229, 229);
    height: 50px;
    border-radius: 5px;
    color: #125de7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px
  }

  @media (max-width: 800px){
    .header {
        padding-right: 150px;
        /*width: 100%;*/
        text-align: center;
        font-size: 20px;
        
    }
    .logo {
        height: 50px;
        width: 375px;
        top: 100px;
    }

    .footer-container {
        
        text-align: left;
        font-size: 20px;
        
    }
    .footer {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 64px;
    }
    .ontstaanbreuk {
      display: block;
      text-align: center;
      padding: 10px;
      
    }

    .topcontainer{
      width: 100%;
      text-align: center;
    }
    .topcontainer h2{
      font-size: 20px;
    }

    .menu{
      display: none;
    }
    .hamburger{
      display: flex;
    }

    .foto{
      margin: 0%;
      margin-top: 25px;
    }

    .sec2container{
      display: flex;
      flex-direction: column-reverse;
    }
    .gallery{
      width: 95%;
      margin-left: 1px;
      
    }
   
  }

  @media (max-width: 1333px){
    .card{
      padding: 20px;
      
    }
    .contactcard img{
      width: 400px;
    }

  }
.cta-hero, .diensten-cta {
  text-align: center;
  margin: 30px auto;
}

.cta-call {
  display: inline-block;
  margin: 15px 0;
  padding: 15px 25px;
  background-color: #c40000;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 5px;
}

.cta-call:hover {
  background-color: #a80000;
}

.cta-trust {
  font-size: 0.9em;
  color: #555;
}
.sticky-call {
  display: none;
}

@media screen and (max-width: 768px) {
  .sticky-call {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #c40000;
    text-align: center;
    z-index: 9999;
  }

  .sticky-call a {
    display: block;
    padding: 18px;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
  }
}
.prijsblok {
  margin: 25px 0;
}

.prijstabel {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.prijsrij {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
}

.prijsrij:last-child {
  border-bottom: none;
}

.prijsdienst {
  font-weight: 600;
}

.prijsbedrag {
  font-weight: 600;
  color: #c40000;
  text-align: right;
}

.prijsnotitie {
  font-size: 0.9em;
  margin-top: 10px;
  color: #555;
}


@media screen and (max-width: 600px) {
  .prijsrij {
    flex-direction: column;
  }

  .prijsbedrag {
    text-align: left;
    margin-top: 5px;
  }
}

.sec3container.regio-blok {
  background-color: #197288;
  padding: 50px 20px;
  width: 100%;
  box-sizing: border-box;
}

.sec3container.regio-blok .ontstaanbreuk {
  max-width: 800px;
  margin: 0 auto;
}

.sec3container.regio-blok h2 {
  font-size: 36px;
  color: #ffffff;
}

.sec3container.regio-blok p {
  font-size: 18px;
  line-height: 1.6;
  color: #e6f2ff;
}

.regio-links {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 25px;
}

.regio-links a {
  background-color: #158edf;
  padding: 10px 16px;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.regio-links a:hover {
  background-color: #158edf
}



.sec2container.rioolbreuk-blok {
  background-color: #197288;
  padding: 60px 20px;
  min-height: 100vh;
}

.rioolbreuk-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  align-items: center;
}

.rioolbreuk-tekst {
  flex: 1;
}

.rioolbreuk-tekst h2 {
  font-size: 36px;
  color: #ffffff;
}

.rioolbreuk-tekst p {
  font-size: 18px;
  line-height: 1.7;
  color: #e6f2ff;
}

.rioolbreuk-afbeeldingen {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.rioolbreuk-afbeeldingen .card-image {
  height: 240px;
  background-size: cover;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .rioolbreuk-content {
    flex-direction: column;
  }

  .rioolbreuk-afbeeldingen {
    grid-template-columns: 1fr;
  }
}


.home-blok {
  background-color: #197288;
  padding: 60px 30px;
  border-radius: 14px;
  max-width: 100%;
  margin: 0 auto;
  color: #ffffff;
}

.home-blok h2 {
  font-size: 34px;
  margin-bottom: 16px;
}

.home-blok p {
  font-size: 18px;
  line-height: 1.6;
  color: #e6f2ff;
}


.regio-links {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.regio-links a {
  background: #1e90df;
  padding: 10px 18px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.regio-links a:hover {
  background: #1e90df;
}


.rioolbreuk-flex {
  display: flex;
  gap: 40px;
  align-items: center;
}

.rioolbreuk-tekst {
  flex: 1;
}

.rioolbreuk-afbeeldingen {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.rioolbreuk-afbeeldingen .card-image {
  height: 240px;
  border-radius: 12px;
  background-size: cover;
}


@media (max-width: 768px) {
  .rioolbreuk-flex {
    flex-direction: column;
  }

  .rioolbreuk-afbeeldingen {
    grid-template-columns: 1fr;
  }
}

 
 

.homepage-blok {
  background-color: #197288;
  padding: 60px 30px;
  border-radius: 16px;
  max-width: 100%;
  margin: 0 auto;
  color: #ffffff;
}

.homepage-blok h2 {
  font-size: 32px;
  margin-bottom: 16px;
  color: #ffffff;
}

.homepage-blok p {
  font-size: 27px;
  line-height: 1.6;
  color: #e6f2ff;
}


.homepage-regio {
    display: flex;
    gap: 57px;
    margin-top: 27px;
}


.homepage-regio a {
  background-color: #1e90df;
  padding: 10px 100px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.homepage-regio a:hover {
  background-color: #1e90df;
}


.homepage-breuk {
  display: flex;
  gap: 40px;
  align-items: center;
}

.breuk-tekst {
  flex: 1;
}

.breuk-afbeeldingen {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.breuk-afbeeldingen .card-image {
  height: 240px;
  border-radius: 12px;
  background-size: cover;
}


@media (max-width: 768px) {
  .homepage-breuk {
    flex-direction: column;
  }

  .breuk-afbeeldingen {
    grid-template-columns: 1fr;
  }
}

.topcontainer {
  background-color: #197288;
  color: #ffffff;
}

.topcontainer h1,
.topcontainer h2,
.topcontainer p {
  color: #ffffff;
  opacity: 1;
}

.blauw-sectie {
  background-color: #197288;
  padding: 80px 20px;
}


.regio-blok {
  background-color: #1f6f84;
  padding: 60px 20px;
}

.regio-inner {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #2f8fa6;
  border-radius: 20px;
  padding: 50px 30px;
  text-align: center;
}

.regio-inner h2 {
  color: #ffffff;
  margin-bottom: 15px;
}

.regio-inner p {
  color: #eaf6fb;
  margin-bottom: 35px;
  font-size: 1.05rem;
}

.regio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.regio-card {
  background-color: #1e90df;
  color: #ffffff;
  padding: 12px 22px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.regio-card:hover {
  background-color: #3aa0bc;
  transform: translateY(-2px);
}


@media (max-width: 768px) {
  .regio-inner {
    padding: 35px 20px;
  }

  .regio-card {
    width: 100%;
    max-width: 260px;
  }
}


html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}


.rioolbreuk-section, .sec2container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px; 
}


.rioolbreuk-section {
  background-color: #1f6f84;
  padding: 30px 20px; 
}

.sec2container {
  background-color: #197288;
  padding: 20px 20px; 
}

.homepage-blok {
  background-color: #197288;
  padding: 30px 20px; 
}







@media (max-width: 768px) {
  .rioolbreuk-section, .sec2container, .homepage-blok {
    min-height: 50vh; 
    padding: 15px; 
  }

  .footer-container {
    padding: 20px; 
  }
}



.section-divider {
  width: 100%;
  height: 3px;
  background-color: #4fb3d1;
  margin: 0;
}





.about-section {
  background-color: #1f7386;
  padding: 80px 20px;
}

.about-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

.about-text {
  flex: 1;
  color: #ffffff;
}

.about-text h2 {
  margin-bottom: 25px;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.about-link {
  margin-top: 25px;
}

.about-button {
  display: inline-block;
  margin: 15px 0;
  padding: 14px 28px;
  background-color: #1e90df;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
}

.about-button:hover {
  background-color: #1879c7;
}

.about-sub {
  margin-top: 10px;
  opacity: 0.9;
}

.about-image {
  flex: 0 0 360px;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
}


@media (max-width: 900px) {
  .about-inner {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    margin-top: 40px;
  }
}



















































